html {
  height: 100%;
  width: 100%;
}

 
body {
  background: black;
}
.controls {
  border: 2px solid white;
}

#canvas1 {
  border: 5px solid black;
  height: 600px;
  width: 600px;
}
p{
  color: white;
}

.controls {
  z-index: 10;
  top: 100px;
  left: 50%;
}

.controls,
select,
option {
  font-size: 25px;
}